<nav class="navbar navbar-default" role="navigation">
  <div class="container">
      <a class="navbar-brand" href="/"><%= image_tag "monroe_logo-single-color.png" %></a>
      <nav>
          <ul class="nav navbar-nav navbar-right" style="padding-top:15px;">
            <li><%= link_to "Home",   root_path %></li>
            <li><%= link_to "List Attenders", attenders_path %></li>
            <li><%= link_to "List Classes", classes_path %></li>
            <li><%= link_to "Help",   help_path %></li>
          </ul>
       </nav>
  </div>
</nav>