<p id="notice"><%= notice %></p>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div class="col-sm-3 col-md-2 sidebar">
      <ul class="nav nav-sidebar">
        <li class="active"><span class="sr-only">(current)</span><%= link_to "All Attenders", attenders_path %></li>
        <li><a href="#">Reports</a></li>
        <li><a href="#">Analytics</a></li>
        <li><a href="#">Export</a></li>
      </ul>
    </div>
    <div id="main-content" class="col-xs-10">

        <h1>Monroe Nazarene Attenders</h1>

        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Email</th>
              <th>Phone</th>
              <th>Children</th>
              <th>Mom</th>
              <th>Dad</th>
              
              <th colspan="3" style="text-align:center">Options</th>
            </tr>
          </thead>

          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td><%= user.first_name %></td>
                <td><%= user.last_name %></td>
                <td><%= user.email %></td>
                <td><%= user.phone %></td>
                <td><%= user.children %></td>
                <td><%= user.mom %></td>
                <td><%= user.dad %></td>
                
                <td><%= link_to 'Show', user %></td>
                <td><%= link_to 'Edit', edit_user_path(user) %></td>
                <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>

        <%= link_to 'Add Another Attender', new_user_path, class: 'btn btn-success' %>
  </div>
</div>
</div>

