        <%= form_for(@discipleship_class, html: {class: 'form-horizontal'}) do |f| %>
        <% if @discipleship_class.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@discipleship_class.errors.count, "error") %> prohibited this discipleship_class from being saved:</h2>

            <ul>
            <% @discipleship_class.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field form-group">
          <%= f.label :class_date, class: 'col-sm-2 control-label'  %>
          <div class="col-sm-5">
          <%= f.date_select :class_date, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :title, class: 'col-sm-2 control-label'  %>
          <div class="col-sm-5">
          <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="field form-group">
          <%= f.label :user_id, class: 'col-sm-2 control-label'  %>
          <div class="col-sm-5">
          <%= f.text_field :user_id, class: 'form-control' %>
          </div>
        </div>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      

