<%= form_for(@discipleship_class) do |f| %>
  <% if @discipleship_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipleship_class.errors.count, "error") %> prohibited this discipleship_class from being saved:</h2>

      <ul>
      <% @discipleship_class.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :class_date %><br>
    <%= f.date_select :class_date %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
   <div class="field">
    <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
