<p id="notice"><%= notice %></p>

<div id="main-container" class="container-fluid">
  <div class="row">
    <div id="sidebar" class="col-xs-3">
    <h3>Sidebar</h3>
    </div>
        <div id="main-content" class="col-xs-9">
            <h1>Discipleship Classes</h1>
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Class date</th>
                  <th>Title</th>
                  <th colspan="3" style="text-align:center">Options</th>
                </tr>
              </thead>

              <tbody>
                <% @discipleship_classes.each do |discipleship_class| %>
                  <tr>
                    <td><%= discipleship_class.class_date %></td>
                    <td><%= discipleship_class.title %></td>
                    <td><%= link_to 'Show', discipleship_class %></td>
                    <td><%= link_to 'Edit', edit_discipleship_class_path(discipleship_class) %></td>
                    <td><%= link_to 'Delete', discipleship_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'New Discipleship class', new_discipleship_class_path %>
        </div>
      </div>
    </div>
